.product {
  width: 18rem;
  height: 18rem;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  padding: 0.5rem 0.9rem;
  position: relative;
  margin: 0.5rem;
}
.product img {
  width: 100%;
  height: 10rem;
  object-fit: contain;
}
.product .price {
  margin: 0.5rem 0;
}
.product .desc {
  color: rgb(128, 128, 128);
  font-size: 0.9rem;
}
.heart {
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
}
.price-and-date {
  width: 90%;
  font-size: 0.7rem;
  display: flex;
  color: rgb(128, 128, 128);
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  position: absolute;
  bottom: 0;
}
